{% extends 'base.html.twig' %}

{% block title %}Page d'accueil!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    h1 ,h3{
        justify-content: center;
        align-items: center;
        text-align: center;
        color:white;
        
    }
</style>

<h1>SPORT.FELICIANO</h1> 

<h3>Bienvenue sur notre blog dédié au sport ! Vous y trouverez des articles sur les dernières actualités sportives, des conseils pour améliorer votre performance, ainsi que des histoires inspirantes de sportifs de tous niveaux. Rejoignez notre communauté passionnée de sportifs et de passionnés de sport pour rester informé et inspiré. Commençons notre voyage sportif ensemble! </h3>


{% endblock %}
